<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="4.6.86" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Tulpep.ActiveDirectoryObjectPicker" version="3.0.4" targetFramework="net461" />
  <package id="WPF.ListViewLayoutManager" version="2.0.0" targetFramework="net461" />
</packages>