<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logName" value="serviceLogFileSample" />
  <variable name="logDir" value="${basedir}\logs\" />
  <variable name="archiveDir" value="${logDir}archive\" />

  <targets>
    <target 
      name="serviceLogfile" 
      xsi:type="File" 
      layout="${longdate}|${level:uppercase=true}|${logger}|${message}" 
      fileName="${logDir}${var:logName}.${shortdate}.log" 
      archiveFileName="${archiveDir}${var:logName}.${shortdate}.{#####}.log" 
      archiveNumbering="Sequence" 
      maxArchiveFiles="10" 
      archiveOldFileOnStartup="true"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="serviceLogfile"/>
  </rules>
</nlog>
