<?xml version="1.0" encoding="UTF-8"?>


<!-- Define automatic the version -->
<?define ProductVersion=!(bind.FileVersion.DaemonMaster.exe) ?>
<!-- Define CompanyName and ProductName-->
<?define ProductName="DaemonMaster" ?>
<?define CompanyName="TWC-Software" ?>
<!-- Define the upgrade code (NEVER CHANGE THIS CODE!)-->
<?define UpgradeCode="F277FE5A-6E5C-45AB-85FA-5DAD8EAEDD02"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define DaemonMaster_TargetDir=$(var.DaemonMaster.TargetDir)?>

	<Product Id="2323B4E1-30CC-4027-BC3E-6E588EA96F43" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

	  <Condition Message="[ProductName] is only supported on Windows 7, Windows Server 2008 R2, or higher.">
	    <![CDATA[Installed OR (VersionNT >= 601)]]>
	  </Condition>

		<!--Set install dir-->
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<!--Use UI-->
		<UIRef Id="WixUI_InstallDir" />

		<!--Add icon-->
		<Icon Id="DaemonMaster.ico" SourceFile="$(var.ProjectDir)DaemonMaster.ico" />
		<Property Id="ARPPRODUCTICON" Value="DaemonMaster.ico" />

		<!--Add license-->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\gpl-3.0.rtf" />
		<!--Add custom UI images-->
		<!--<WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images\installer_background.bmp" />-->

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
		<!--Output only one file-->
		<MediaTemplate EmbedCab="yes" />

		<!--Add events-->
		<InstallExecuteSequence>
			<Custom Action="UninstallAllServicesAction" After="InstallInitialize">(REMOVE="ALL") AND (NOT UPGRADINGPRODUCTCODE)</Custom>
			<Custom Action="SetRemoveResidualFilesProperty" Before="RemoveResidualFilesAction" />
			<Custom Action="RemoveResidualFilesAction" After="UninstallAllServicesAction" />
		</InstallExecuteSequence>

		<!--Component refs-->
		<Feature Id="ProductFeature" Title="DaemonMaster" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="de_files" />
			<ComponentGroupRef Id="fr_files" />
			<ComponentRef Id="AppShortcut" />
			<ComponentRef Id="AppShortcutDesktop" />
		</Feature>
	</Product>

	<!--Adding custom actions-->
	<Fragment>
		<Binary Id="DaemonMasterCustomActions.CA.dll" SourceFile="$(var.DaemonMasterCustomActions.TargetDir)$(var.DaemonMasterCustomActions.TargetName).CA.dll" />
		<CustomAction Id="UninstallAllServicesAction" BinaryKey="DaemonMasterCustomActions.CA.dll" DllEntry="UninstallAllServices" Execute="deferred" Return="check" Impersonate="no" />
		<CustomAction Id="SetRemoveResidualFilesProperty" Return="check" Property="RemoveResidualFilesAction" Value="INSTALLEDPATH=[INSTALLFOLDER]" />
		<CustomAction Id="RemoveResidualFilesAction" BinaryKey="DaemonMasterCustomActions.CA.dll" DllEntry="RemoveResidualFiles" Execute="deferred" Return="check" Impersonate="no" />
	</Fragment>

	<!--Directories-->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DaemonMaster">
					<Directory Id="de" Name="de" />
					<Directory Id="fr" Name="fr" />
				  <Directory Id="logs" Name="logs" />
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder">
				<Directory Id="AppProgramsFolder" Name="DaemonMaster" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<!--Programm files-->
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="DaemonMaster.exe" Guid="300485D3-61E1-4D59-A95C-2434E27B0AA2">
				<File Id="DaemonMaster.exe" Name="DaemonMaster.exe" Source="$(var.DaemonMaster_TargetDir)DaemonMaster.exe" />
			</Component>
			<Component Id="DaemonMaster.exe.config" Guid="7DA23D6D-9CF8-49EF-9C56-02D169845AAD">
				<File Id="DaemonMaster.exe.config" Name="DaemonMaster.exe.config" Source="$(var.DaemonMaster_TargetDir)DaemonMaster.exe.config" />
			</Component>
			<Component Id="DaemonMasterCore.dll" Guid="899CC3EC-272E-4D35-8907-04F92FBB3FB6">
				<File Id="DaemonMasterCore.dll" Name="DaemonMasterCore.dll" Source="$(var.DaemonMaster_TargetDir)DaemonMasterCore.dll" />
			</Component>
			<Component Id="NLog.config" Guid="33C94FCB-747F-42C7-8CF8-53DF7507584F">
				<File Id="NLog.config" Name="NLog.config" Source="$(var.DaemonMaster_TargetDir)NLog.config" />
			</Component>
			<Component Id="DaemonMasterService.exe" Guid="1893D9BE-142F-4980-A7DC-CB931C374808">
				<File Id="DaemonMasterService.exe" Name="DaemonMasterService.exe" Source="$(var.DaemonMaster_TargetDir)DaemonMasterService.exe" />
			</Component>
			<Component Id="DaemonMasterService.exe.config" Guid="01CE7483-7FD2-4120-809D-17F73DD56508">
				<File Id="DaemonMasterService.exe.config" Name="DaemonMasterService.exe.config" Source="$(var.DaemonMaster_TargetDir)DaemonMasterService.exe.config" />
			</Component>
			<Component Id="ActiveDirectoryObjectPicker.dll" Guid="3D80951D-4529-48FC-B5D0-12092460B122">
				<File Id="ActiveDirectoryObjectPicker.dll" Name="ActiveDirectoryObjectPicker.dll" Source="$(var.DaemonMaster_TargetDir)ActiveDirectoryObjectPicker.dll" />
			</Component>
      <!--<Component Id="AutoUpdater.NET.dll" Guid="3E42D217-4DAE-4E74-B01B-C44ADE1FE8CC">
				<File Id="AutoUpdater.NET.dll" Name="AutoUpdater.NET.dll" Source="$(var.DaemonMaster_TargetDir)AutoUpdater.NET.dll" />
			</Component>-->
			<Component Id="Newtonsoft.Json.dll" Guid="AE9F419F-0A04-4633-849D-DF2DD72C7544">
				<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.DaemonMaster_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="NLog.dll" Guid="D2C70A83-7555-4225-9CB7-3411F593C7BF">
				<File Id="NLog.dll" Name="NLog.dll" Source="$(var.DaemonMaster_TargetDir)NLog.dll" />
			</Component>
			<Component Id="Itenso.Windows.Controls.ListViewLayout.dll" Guid="CE027854-AA63-4E4F-A065-0BAE04896A96">
				<File Id="Itenso.Windows.Controls.ListViewLayout.dll" Name="Itenso.Windows.Controls.ListViewLayout.dll" Source="$(var.DaemonMaster_TargetDir)Itenso.Windows.Controls.ListViewLayout.dll" />
			</Component>
			<Component Id="DaemonMasterUpdater.dll" Guid="4fa0271c-a5f3-4e41-9d77-18d4024a1173">
			  <File Id="DaemonMasterUpdater.dll" Name="DaemonMasterUpdater.dll" Source="$(var.DaemonMaster_TargetDir)DaemonMasterUpdater.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<!--Shortcuts-->
	<Fragment>
		<DirectoryRef Id="AppProgramsFolder">
			<Component Id="AppShortcut" Guid="0F5685DE-1C78-40EF-AD21-2CDE6515D17A">
				<Shortcut Id="AppStartMenuShortcut" Name="DaemonMaster" Description="Daemon Master is a software which makes it possible to create a service from any program." Target="[INSTALLFOLDER]DaemonMaster.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="AppProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\DaemonMaster" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="AppShortcutDesktop" Guid="ECC91A4D-A405-4C96-87AB-36BB80B4E79E">
				<Shortcut Id="AppDesktopShortcut" Name="DaemonMaster" Description="Daemon Master is a software which makes it possible to create a service from any program." Target="[INSTALLFOLDER]DaemonMaster.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\DaemonMaster" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<!--German translations files-->
	<Fragment>
		<ComponentGroup Id="de_files" Directory="de">
			<Component Id="de_DaemonMaster.resources.dll" Guid="786CB35D-45AE-4C1D-A125-00F63D525624">
				<File Id="de_DaemonMaster.resources.dll" Name="DaemonMaster.resources.dll" Source="$(var.DaemonMaster_TargetDir)de\DaemonMaster.resources.dll" />
			</Component>
		  <!--<Component Id="de_AutoUpdater.NET.resources.dll" Guid="7199C7DF-9D51-4815-ACB7-1C64214AEE70">
				<File Id="de_AutoUpdater.NET.resources.dll" Name="AutoUpdater.NET.resources.dll" Source="$(var.DaemonMaster_TargetDir)de\AutoUpdater.NET.resources.dll" />
			</Component>-->
			<Component Id="de_DaemonMasterUpdater.resources.dll" Guid="60a388a7-041c-43aa-ab72-a2ae5e25641b">
			  <File Id="de_DaemonMasterUpdater.resources.dll" Name="DaemonMasterUpdater.resources.dll" Source="$(var.DaemonMaster_TargetDir)de\DaemonMasterUpdater.resources.dll" />
			</Component>
    </ComponentGroup>
	</Fragment>

	<!--French translations files-->
	<Fragment>
		<ComponentGroup Id="fr_files" Directory="fr">
			<Component Id="fr_DaemonMaster.resources.dll" Guid="0CB23218-6A69-40C1-9A21-61EC14D65BD5">
				<File Id="fr_DaemonMaster.resources.dll" Name="DaemonMaster.resources.dll" Source="$(var.DaemonMaster_TargetDir)fr\DaemonMaster.resources.dll" />
			</Component>
			<!--<Component Id="fr_AutoUpdater.NET.resources.dll" Guid="F2D053FA-49BB-4693-8F0A-E422040A053E">
				<File Id="fr_AutoUpdater.NET.resources.dll" Name="AutoUpdater.NET.resources.dll" Source="$(var.DaemonMaster_TargetDir)fr\AutoUpdater.NET.resources.dll" />
			</Component>-->
			<Component Id="fr_DaemonMasterUpdater.resources.dll" Guid="44fa932c-edf9-4e31-848b-be0a9c5a5a3b">
			  <File Id="fr_DaemonMasterUpdater.resources.dll" Name="DaemonMasterUpdater.resources.dll" Source="$(var.DaemonMaster_TargetDir)fr\DaemonMasterUpdater.resources.dll" />
			</Component>
    </ComponentGroup>
	</Fragment>
</Wix>
